* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 26px;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
  }

  #map {
    display: grid;
    height: 100vh;
    width:  100vw;

    align-items: center;
    background-color: lightgray;
    overflow: auto;
  }

  #toolbar {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 200px;
    height: 50px;
  }

  #chat {
    height: 100vh;
    width:  100vw;
  }

  #chatInput {
    width: 100%;
    height: 100%;
    background-color: #cce6ff;
  }

  #chatOut {
    overflow: auto;
    padding: 5px;
  }

  .split {
    width:100%;
    height:100%;
    padding: 30px;
    border: 1px solid;
  }
  .gutter {
    cursor: e-resize;
    height: 100%;
    background: black;
  }
